body {
  background: var(--background-colour);
  color: var(--text-colour);
  font-family: "Montserrat", sans-serif; /*var(--sans-serif);*/
  font-size: 16px;
  padding: 1em;
}

a {
  color: var(--link-colour);
}

a:visited {
  color: var(--link-visited-colour);
}

a:active {
  color: var(--link-active-colour);
}

.changelog-heading {
 font-weight: 600;
}

.changelog {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 825px;
  line-height: 1.4;
  margin-top: 1em;
  margin-bottom: 1em;
}

.changelog .row {
  display: flex;
}

.changelog .header {
  font-weight: 600;
  margin-bottom: .5em;
}

.changelog .date {
  width: 100px;
}

.changelog .revision {
  width: 100px;
} 

.changelog .whom {
  width: 225px;
}

.changelog .change {
  width: 400px;
}

/* =================== document styling =================== */

h1 {
  font-size: 1.5em;
  font-weight: 600;
}

h2 {
  font-size: 1.25em;
  font-weight: 600;
}

h3 {
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

h1, h2, h3 {
  margin-top: 1.5em;
  margin-bottom: .5em;
}

code {
  display: block;
  background: lightgray;
  font-family: 'Courier New', monospace;
  padding: .5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

table, td, th {
  border: 1px solid black;
}

table {
  margin-top: 1em;
  margin-bottom: 1em;
}

td, th {
  padding: .25em;
}

th {
  font-weight: 600;
}
