<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/uchu.css" rel="stylesheet">
    <link href="/css/fonts.css" rel="stylesheet">
    <link href="/css/colours.css" rel="stylesheet">
    <link href="/css/doc.css" rel="stylesheet">
  </head>
  <body>

    {{if .Changelog}}
    <h2 class="changelog-heading">Changelog</h2>
    <div class="changelog">
      <div class="row header">
        <div class="date">Date</div>
        <div class="revision">Revision</div>
        <div class="whom">By Whom</div>
        <div class="change">Changelog</div>
      </div>
     {{range .Changelog}}
      <div class="row">
        <div class="date">{{.Date}}</div>
        <div class="revision"><a href="/doc/{{.FullSha}}/{{$.Filename}}">{{.Revision}}</a></div>
        <div class="whom">{{.Whom}}</div>
        <div class="change">{{.Change}}</div>
      </div>
      {{end}}
    </div>
    {{end}}

    {{if .Revisionlog}}
    <div class="revisionlog">
      <pre>{{.Revisionlog.Message}}</pre>
      <pre>{{.Revisionlog.Patch}}</pre>  
    </div>
    {{end}}

    <div>
      {{.Document}}  
    </div>

  </body>
</html>
