<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/doc.css" rel="stylesheet">
  </head>
  <body>

    {{.Filename}}

    {{if .Changelog}}
    <div class="changelog">
      <div class="row header">
        <div>Date</div>
        <div>Revision</div>
        <div>By Whom</div>
        <div>Changelog</div>
      </div>
     {{range .Changelog}}
      <div class="row">
        <div>{{.Date}}</div>
        <div><a href="/doc/{{$.Filename}}/{{.FullSha}}">{{.Revision}}</a></div>
        <div>{{.Whom}}</div>
        <div>{{.Change}}</div>
      </div>
      {{end}}
    </div>
    {{end}}

    {{if .Revisionlog}}
    <div class="revisionlog">
      <pre>{{.Revisionlog.Patch}}</pre>  
    </div>
    {{end}}

    <div>
      {{.Document}}  
    </div>

  </body>
</html>
